:host {
    display: block;
}

nav a.nav-link {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    vertical-align: middle;
    min-width: 60px;
    height: 60px;
    line-height: 24px;
}

nav a.nav-link md-icon {
    width: 32px;
    height: 32px;
}

nav.bg-faded {
    border-bottom: 1px solid #181818;
    background-color: #222;
    box-shadow: none;
}

nav.bg-faded a.nav-link {
    color: white;
}

.navbar-nav .nav-item + .nav-item {
    margin-left: 0;
}

.navbar-toggler {
    color: white;
    padding: .5rem 0;
    outline: none;
    min-width: 60px;
    margin-right: 10px;
    height: 60px;
    line-height: 24px;
    transition: background-color 300ms ease;
    border-radius: 0;
    float: left;
}

.navbar-brand {
    font-family: "Kaushan Script", sans-serif;
    padding-top: 0.78rem;
}

.navbar .navbar-nav > li > a {
    margin: 0;
}

.navbar-toggler:hover, .navbar-toggler:active, .navbar-toggler:focus {
    background-color: #363636;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}

.navbar {
    transition: all 300ms ease;
    padding: 0;
    border-radius: 0;
    max-height: 61px;
}

.navbar .nav-link {
    transition: background-color 300ms ease;
}

nav.bg-faded.navbar-dark .navbar-nav .nav-link {
    color: white;
    transition: background-color 300ms ease;
}

nav a.nav-link:hover, nav.bg-faded .nav-item.active a.nav-link, nav.navbar-transparent .nav-item.active a.nav-link {
    background-color: #363636;
}

nav a.router-link-active {
    color: #106cc8;
}

[md-button] {
    outline: 0;
    border-radius: 0;
}
.header-bar__account__profile-info{
    text-align: right;
    -webkit-transform: ok(-50%);
    transform: ok(-50%);
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.header-bar__account-details{
    display: inline-block;
    height: 62px;
    vertical-align: middle;
    margin-top: 10px;
    cursor: pointer;
}
.header-bar__account__name{
    display: block;
    font-weight: 400;
    max-width: 210px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.header-bar__account__email{
    color: #888;
    font-size: 11px;
    font-size: .78571rem;
    line-height: 1.2em;
    -webkit-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out;
}